@charset "UTF-8";

.outer{
	width:90%;
	height:90%;
	background-size:cover;
	text-align:center;
	
	font-size: 1.5rem;
	padding:3rem;
	margin:0 auto;
	
	vertical-align:middle;
	float:top;
}

.header img{
	float:left;
}

.header{
	transform: translateY(-15%);
}

.selectedItemsBasket{
	width:100%;
	min-height:200px;
	height:40vh;
	border:1px dashed black;
	overflow:auto;
	margin:auto;
}

.selectedItemsBasket table{
	width:90%;
	margin:0 auto;
}

.selectedItemsBasket td{
	border-bottom:1px solid lightgrey;
	border-collapse: collapse;
	padding:1rem;
}

.selectedItemsBasket tr td:last-child{
	width:80%;
}

.selectedItemsBasket td:first-child{
	border-bottom: 1px solid black;
}

.selectedItemsBasket #menuName{
	font-weight: bold;
	font-size: 2rem;
}

.selectedItemsBasket #menuPrice{
	font-size: 1.2rem;
	color: #F57C9B;
}

.summary{
	width:100%;
	min-height:400px;
	height: 30vh;
	background: E4DFDF;
	border:1px dashed black;
	
	text-align:center;
}

.summary .inform{
	text-align: center;
	width:100%;
	background: #E4DFDF;
	font-weight:bold;
	font-size:2rem;
	
}

.discountCheck{
	width:90%;
	text-align:right;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 1rem;
	margin:0 auto;
}

.discountCheck img{
	transform: translate(40%,40%);
}

.discountCheck label{
	margin:5rem;
}

.informTable{
	padding:1rem;
	width:90%;
	margin:0 auto;
}

.informTable tr td{
	border-collapse:collapse;
	border-bottom:1px solid lightgrey;
	padding:1rem;
}

.informTable td:first-child{
	text-align: left;
}

.informTable td:last-child{
	text-align: right;
}

.informTable tr:nth-last-child(2) td{
	border-bottom:0;
}

.informTable tr:last-child td{
	border-bottom:0;
	border-top:3px dashed black;
}

.orderBtn{
	background: #F57C9B;
	color:white;
	width:100%;
	height:7%;
	font-weight:bold;
	font-size:2.5rem;
	vertical-align:middle;
	border:1px solid #F57C9B;
}