@charset "UTF-8";

.outer{
	width:80vw;
	height:90vh;
	transform: translate(200px, 50px);
	text-align:center;
}

.boardWrap{
	width: 90%;
	height: 90%;
	background: #EBEBEB;	

	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	
	overflow:auto;
}

h2 {
	text-align:left;
	padding-left:1rem;
}

.top>form{
	display: flex;
	align-items: center;
	height: 2.5rem;;
	vertical-align:middle;
	width:100%;
	background: #AACFD0;
}

.boardWrap>table{
	text-align:center;
	width:100%;
	border-top: 1px solid lightgrey;
	border-collapse: collapse;
	margin:0 auto;
	
}
table td {
	height:2rem;
}

input[type=text]{
	height:1.2rem;
}

#titleLine {
	background: #79A8A9;
}

tbody>tr>th, td {
	border-bottom: 1px solid lightgrey;
}

#btnModifyQna, #btnRemoveQna{
	background: #AACFD0;
	border:0;
}

.viewPages{
	text-align: center;;
}

#newQna {
	text-align: right;
	margin: 2rem;
}

#newQna>button {
	background:#AACFD0;
	border:0;
	font-size:1.3rem;
}