	@charset "UTF-8";
	body {overflow:hidden}
	
	#historyListSection {
		border: 1px solid #E0E0E0;
		text-align:center;
		max-width: 1080px;
		width: 90%;
		max-height: 974px;
		height: 90%;
		position: absolute;
		left: 15rem;
		top: 5rem;
		display:block;
		overflow:auto;
	}
	
	th {
		background: rgb(170, 207, 208);
	}
	
	#purchaseHistoryTable {
		text-align:center;
		width: 100%;
	}
	
	.tableBottom td {
		border-bottom: 1px solid #E0E0E0;
		border-collapse: collapse;
	}
	
	#modalBackground {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index: 10;
	
	}
	#branchArea {
		text-align:center;
	}
	#detailCloseBtn {
		margin-top: 5px;
		background: rgb(121, 168, 169);
		border: 1px black;
	}
	
	#detailContent {
		margin: 0 auto;
		display: none;
		position: fixed;
		left: calc(50% - 200px);
		top: calc(50% - 120px); 
		width: 30%;
		height: 350px;
		background: #fff;
		z-index: 11;
	}
	
	.detailTable {
		margin: 0 auto;
		display: block;
		width: 100%;
		height: 80%;
		text-align: center;
		overflow:auto;
	}
	.detailTable th{
		position:sticky;
		top:0px;
	}
	