	@charset "UTF-8";
	
	body {overflow:hidden}
	
	#purchaseRegisterSection {
		border: 1px solid #E0E0E0;
		max-width: 1080px;
		width: 90%;
		max-height: 974px;
		height: 90%;
		position: absolute;
		left: 15rem;
		top: 5rem;
		display:block;
		overflow:auto;
	}
	
	th {
		background: rgb(170, 207, 208);
	}
	
	#listArea {
		margin-top: 5%;
		display: block;
		background: white;
		width: 100%;
		height: 430px;
		overflow: auto;
		overflow-x: auto;
		white-space: nowrap;

	}
	
	#totalArea {
		background: white;
		height: 100px;
		width: 100%;
	}
	
	#totalTable {
		width: 100%;
		height: 50px;
	}
	
	#registerBtn {
		background:rgb(121,168,169);
		border: 1px black;
		height: 27px;
	}
	
	#totalTableArea {
		border: 2px solid #919E9E;
	}
	
	.table-bottom td {
		border-bottom: 1px solid #E0E0E0;
	}
	
	#listArea th {
		position: sticky;
		top: 0px;
	}
	
	#listArea td {
		border-collapse: collapse;
	}
	#modalBackground {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index: 10;
	}
	
	#detailCloseBtn {
		margin-top: 5px;
		background:rgb(121,168,169);
		border: 1px black;
	}
	
	#detailContent {
		margin: 0 auto;
		display: none;
		position: fixed;
		left: calc(50% - 160px);
		top: calc(50% - 70px);
		width: 25%;
		height: 30%;
		background: #fff;
		z-index: 11;
	}
	
	.registerCheckTable {
		width: 100%;
		height: 80%;
		text-align: center;
	}
	
	.detailTable {
		display: block;
		width: 100%;
		height: 80%;
		text-align: center;
	}
	
	input[type=date] {
		background: #E0E0E0;
		border : 0.1;
	}