@charset "UTF-8";
#main{
	height:1024px;
	margin-top: 70px;	
}

.passwrap{
	width: 1280px;
    margin: 0 auto;
}

input[type=text], input[type=password], .form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.memberEmail{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

span{
  display: inline-block;
}

#memberEmail{
    width: 78%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

button, .backPwdBtn {
  background-color: #FF5F2E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 93%;
  display: inline-block;
  text-align:center;
}

.emailButton{
  width:21%;
  height: 43px;
  padding:0;
}


.radio-DEPTCODE{
    background-color: #AACFD0;
    margin: 8px 0;
    padding: 8px 8px;
}

button:hover {
  opacity: 0.8;
}


.logo {
  text-align: center;
  width:600px;
  float:left;
  
}

.logo img{
	width:380px;
	margin-top:118px;
}

.right {
  padding: 16px;
   text-align: left;
}

form{
	display:inline-block;
	margin-top:0em;
	width:600px;
	float:left;
	margin-left:10px;
}

.link{
	color:gray;
}

.loginpclear{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: -webkit-center;
    color: #1F4E5F;
    clear: both;

}

.footer{
	color:gray;
}

#modal, #modalTwo {
	 position:fixed;
	 width:100%;
     /* height:1024px; */
     height:100%;
     z-index:1;
     display: none;
     top:0px;
     background:rgb(0,0,0,0.3);
     margin-left:-8px;
    }

#modal h2, #modalTwo h2 {
    margin:0;   
}

#modal button, #modalTwo button {
    display:inline-block;
    width:100px;
    margin-left:calc(100% - 100px - 10px);
    }

#modal .modal_content, #modalTwo .modalTwo_content {
    width:500px;
    margin:387px auto;
    padding:20px 10px;
    background:#fff;
    border:2px solid black;
    border-top:40px solid #79A8A9;
}

#modal .modal_layer, #modalTwo .modalTwo_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}

#modalViewDetailClose, #modalViewOKlClose{
	 background-color: #79A8A9;
}

a.modalBin {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    border: 1px solid #304a8a;
    background-color: #3f5a9d;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
}



